<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- шапка -->
    <header class="header">
         <!--блок навигации  -->
         <div class="header__menu">
             <div><a href="">Home</a></div>
             <div><a href="">Product</a></div>
             <div><a href="">Contact</a></div>
         </div>
    </header>

    <!-- директивы шаблонизатора jinja2 -->
    {% block body %}
    {% endblock %}

    <!-- подвал -->
    <footer class="footer">
        footer
    </footer>
</body>
</html>